/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

@import "tailwindcss";

@theme {
  --color-pdn-blueDark: #0B2F51;
  --color-pdn-bluePrimary: #7a3e7c;
  --color-pdn-blueMedium: #613962;
  --color-pdn-blueLight: #3B82F6;
  --color-pdn-coral: #d97f6f;
  --color-pdn-coralLight: #f29888;

  --font-sans: "Barlow", sans-serif;
  --font-display: "Archivo", sans-serif;
}

:root {
  --color-ui-slate-50: #F8FAFC;
  --color-ui-slate-200: #E2E8F0;
  --color-ui-slate-400: #94a3b8;
  --color-ui-slate-500: #64748b;
  --color-ui-slate-600: #475569;

  --color-ui-orange-400: #FB923C;
  --color-ui-red-500: #ef4444;
  --color-ui-red-200: #fecaca;
  --color-ui-green-800: #166534;

  --color-ui-white: #ffffff;
  --color-ui-white-90: rgba(255, 255, 255, 0.9);
  --color-ui-white-80: rgba(255, 255, 255, 0.8);
  --color-ui-white-75: rgba(255, 255, 255, 0.75);
  --color-ui-white-10: rgba(255, 255, 255, 0.1);

  --color-ui-black-10: rgba(0, 0, 0, 0.1);
  --color-ui-black-20: rgba(0, 0, 0, 0.2);
  --color-ui-black-25: rgba(0, 0, 0, 0.25);
  --color-ui-black-32: rgba(0, 0, 0, 0.32);

  --color-pdn-bluePrimary-04: rgba(122, 62, 124, 0.04);
  --color-pdn-bluePrimary-20: rgba(122, 62, 124, 0.2);
  --color-pdn-coral-30: rgba(217, 127, 111, 0.3);
  --color-pdn-coral-40: rgba(217, 127, 111, 0.4);
  --color-ui-red-20: rgba(220, 38, 38, 0.2);
  --color-pdn-coral-dark: #c4695a !important;

  --gradient-pdn-brand: linear-gradient(135deg, var(--color-pdn-bluePrimary), var(--color-pdn-blueMedium));
  --gradient-pdn-coral: linear-gradient(135deg, var(--color-pdn-coral) 0%, var(--color-pdn-coralLight) 100%);
}

html, body {
  font-family: var(--font-sans);
  min-height: 100vh;
}

body {
  background: linear-gradient(325deg, #1c7cbf 0%, #1c7cbf 4%, #7f4990 49%, #9d7b94);
}
